#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# {{" right-delimiter=}}

# {{ template "scripts-library" }}

echo ""
log_green "System has been configured successfully!"
log_yellow "Don't forget to tweak tunables via powertop!"
log_info "Have a great day! :)"